
/* common */



/* heder */




.nav-hed {
display: flex;
align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}



.web-logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        line-height: 1.17      
}



.stud-logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        font-family: "Raleway", sans-serif;
        line-height: 1.17
}

.header-item {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* current */
.header-item.current {
    position: relative;
}

.header-item.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color:  #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}
 
.header-item.current{
    color: #404bbf
}


.header-item:focus {
    color: #404bbf;
}
.header-item:hover {
         color: #404bbf;
}

.address {
    margin-left: auto;
    font-style: normal
}

.header-item {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}





h1 {
    font-family: "Work Sans", sans-serif;
    font-style: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -2%;
}

/* bloc Hero */

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-container {
        flex-direction: column;
        align-items: center;
}

.title-hero {
                font-family: "Roboto", sans-serif;
                font-size: 56px;
                line-height: 1.07;
                text-align: center;
                letter-spacing: 0.02em;
                color: #ffffff;
                max-width: 496px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 40px;
}

.btn-hero {
        display: block;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        color: #fff;
        cursor: pointer;
        text-align: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-hero:focus {
    background-color: #404BBF;
}

.btn-hero:hover {
background-color: #404BBF;
}

/* team skills */

.team-skills{
        padding-top: 120px;
        padding-bottom: 120px;
}

.hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skills-list {
        display: flex;
        gap: 24px;
        justify-content: space-between;
}

.skills-item {
width: calc((100% - 72px) / 4);
}

/* icons skills */
.skills-icon {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
        height: 112px;
        margin-bottom: 8px;
}

.skills-svg {
        display: block;
        align-items: center;
        justify-content: center;
}

/* End icons skills */

.title-skills {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.skills-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/*bloc-team*/

.bloc-team {
    color: #2e2f42;
    padding: 120px 0;
    background-color: #F4F4FD
}

.bloc-team .container {
    flex-direction: column;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
}

.team-item {
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background-color: #fff;
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        background-color: #FFFFFF
        
}

.team-item:last-child {
    margin-right: 0;
}

.team-name {
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-text {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.card {
    padding: 32px 0;
}
/* icons-social */
.icons-list {
        display: flex;
        justify-content: center;
        gap: 24px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-item {
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-lin {
    width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-lin:hover,
.icons-lin:focus {
    background-color: #404bbf;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.soc-i-svg {
    fill: #f4f4fd;
}
/* End icons-social */
/* bloc-portfolio */

.bloc-portfolio {
    padding: 120px 0 120px 0;
    color: #2e2f42;
}

.bloc-portfolio .container {
    flex-direction: column;
}
.title-portfolio {
       font-weight: 700;
        font-size: 36px;
        letter-spacing: 0.02em;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        color: #2e2f42;
        margin-bottom: 72px;
}

.portfolio-list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-t {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.bloc-portfolio .card {
        padding: 32px 16px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

.overlay-text {
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    position: absolute;
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 0;
    width: 100%;
    height: 100%;
}


/* footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .container {
    display: block;
}

.logo {
    margin-bottom: 16px;
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        font-family: "Raleway", sans-serif;
        line-height: 1.17
}
.stud-logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        line-height: 1.17
        
}
.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}


/* futer soc */
.footer .container { 
    display: flex;
        align-items: baseline;
}

.footer-soc {
    flex-direction: column;
    display: flex;
    align-items: baseline;
}

.footer-soc-txt {
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.bloc {
 margin-right: 120px;
}
.icon-list-footer {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-it-footer {
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        
}

.icon-lin-footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-lin-footer:hover,
.icon-lin-footer:focus {
    background-color: #31d0aa;
}


.soc-icon-footer {
    fill: #f4f4fd;
}


/* Sub */

.subscribe {
    margin-left: auto;
}

.sub-form {
    display: flex;
    gap: 24px;
}

.sub-text {
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;

    margin-bottom: 16px;
}

::placeholder {
    color: #fff;;
}

.sub-label {

}

.sub-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #fff;

    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 8px 16px;
}

.sub-input:placeholder {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.btn-sub {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;

    display: flex;

    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: none;
    cursor: pointer;
}

.btn-sub:hover,
.btn-sub:focus {
    background-color: #404bbf;
}



.send {
    fill: #fff;
    margin-left: 16px;
}


/* Modal */
.modal{
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        

    }

.modal-overlay {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    opacity: 0;
    pointer-events: none;
    --main-text-color: #8e8f99;
    --text: #2e2f42;
    --back: #404bbf;
    --white: #f4f4fd;
    --link: #4d5ae5;
}

.modal.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.btn-clos {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-clos:hover,
.btn-clos:focus {
    background-color: #404bbf;
    border: none;
}

.btn-closed:hover .mod-btn-clos,
.btn-closed:focus .mod-btn-clos {
    fill: #ffffff;
}

.mod-btn-clos {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}
/* cloce end */

.f-title {
    font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text);
        text-align: center;
        margin-bottom: 16px;
        
}

.form {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-label {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
}

.form-box {
    margin-bottom: 8px;
}

.imput-box {
    position: relative;
}

.form-input::placeholder {
    color: #8e8f99;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    height: 40px;
    width: 100%;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
    border-color: #4d5ae5;
}

.mod-svg{
    position: absolute;
        top: 50%;
        left: 16px;
        fill: #2e2f42;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within+.mod-svg {
    fill: #4d5ae5;
}

.com-box{
    margin-bottom: 16px;
}

.comment-input {
    width: 100%;
    height: 120px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;

    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.comment-input:focus-within {
    border-color: #4d5ae5;
}

.comment-input::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.pp-box {
margin-bottom: 24px;
    position: relative;
}

.input-check {
    opacity: 0;
    display: none;
}

.check-box {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    margin-bottom: 24px;
}

.input-check:checked+.p-policy .check-box {
    background-color: var(--back);
    fill: var(--white);
    border: none;
}

.p-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--main-text-color);
}



.privacy-p {
    line-height: 1.16;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--link);
}

.btn-m {
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-m:focus:focus {
    background-color: #404BBF;
}

.btn-m:hover {
    background-color: #404BBF;
}