.hidden {
display:none;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #2e2f42;
}

button {
    cursor: pointer;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

textarea {
    resize: none;
}
/* common */

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .container {
            width: 768px;
        }
}

@media screen and (min-width:1158px) {
    .container {
        width: 1158px;
        padding: 0 15px;
        
    }
}

/* heder */

.header-page {
    border-bottom: 1px solid #e7e9fc;
    margin: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
justify-content: space-between;
}

.nav-list,
address {
    display: none;
}

.web-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    line-height: 1.17
}

.header-logo {
    padding: 16px 0;
    display: block;
}

.stud-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    line-height: 1.17
}
.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
.burger-btn {
    display: none;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address {
    display: block;
    font-style: normal;
}
.address-link:focus,
.address-link:hover {
    color: #404bbf;
}
.nav-hed {
    display: flex;
    align-items: center;
}
.header-logo {
    padding: 24px 0;
    margin-right: 120px;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-list {
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.web-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    line-height: 1.17
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.stud-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    line-height: 1.17
}

.header-item {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* current */
.header-item.current {
    position: relative;
}

.header-item.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
}

.header-item.current {
    color: #404bbf
}
.header-item:focus {
    color: #404bbf;
}


.header-item:hover {
    color: #404bbf;
}
.address-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}

@media screen and (min-width:1158px) {
.header-logo {
margin-right: 76px;
}
.contacts-list {
gap: 40px;
align-items: center;
flex-direction: row;
 } 
 .address-link {
     padding: 24px 0;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     
 }
}
/* mobile menu */

 .mobile-menu {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #fff;
     z-index: 999;

     opacity: 0;
     visibility: hidden;
     pointer-events: none;

     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }

 .mobile-menu-container {
     position: relative;
     padding-top: 72px;
     padding-bottom: 40px;

     display: flex;
     flex-direction: column;
     height: 100%;
 }

 .mobile-menu-nav {
     margin-bottom: auto;
 }

 .menu-nav-list {
     display: flex;
     flex-direction: column;
     gap: 40px;
 }

 .nav-menu-link {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11111;
     letter-spacing: 0.02em;
     color: #2e2f42;

     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-menu-link:hover,
 .nav-menulink:focus {
     color: #404bbf;
 }

 .address-menu-container {
     display: flex;
     flex-direction: column;
     gap: 24px;

     margin-bottom: 48px;
 }

 .menu-tel-mail {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #434455;

     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .address-link:hover,
 .address-link:focus {
     color: #4d5ae5;
 }


 .address-menu-container {
     display: flex;
     margin-bottom: 48px;
 }

 .icons-list-m {
     display: flex;
     gap: 40px;
 }

 .social-menu-link {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-menu-link:hover,
 .nav-menu-link:focus {
     background-color: #404bbf;
 }

 @media screen and (min-width: 768px) {
     .mobile-menu {
         display: none;
     }
 }

 .btn-closed {
     position: absolute;
     top: 24px;
     right: 24px;
     width: 24px;
     height: 24px;
     border-radius: 50%;

     display: flex;
     align-items: center;
     justify-content: center;

     background-color: #e7e9fc;
     border: 1px solid rgba(0, 0, 0, 0.1);

     padding: 0;

     cursor: pointer;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .close-button:hover,
 .close-button:focus {
     border: none;
     background-color: #404bbf;
 }

 .close-icon {
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .close-button:hover svg,
 .close-button:focus svg {
     fill: #fff;
 }

 /* close mob-menu */

 .hero {
    background-color: #2e2f42;
        padding: 72px 0;
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-size: cover;
        max-width: 320px;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
 }

 .hero-container {
    display: flex;
     flex-direction: column;
     align-items: center;
 }

 .title-hero {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

        max-width: 216px;
            margin-bottom: 72px;
 }

 .btn-hero {
    font-family: "Roboto", sans-serif;
        background-color: #4d5ae5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    
        display: block;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        cursor: pointer;;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .btn-hero:focus {
     background-color: #404BBF;
 }

 .btn-hero:hover {
     background-color: #404BBF;
 }
 @media screen and (min-width: 768px) {
    .hero {
         padding: 112px 0;
         max-width: 768px;
     }

         .title-hero{
            font-size: 56px;
                line-height: 1.07;
            
                max-width: 496px;
                margin-bottom: 36px;
         }
        }
@media screen and (min-width: 1158px) {
        .hero {
                 padding: 188px 0;
                 max-width: 1440px;
                     }
        
            .title-hero{
                    margin-bottom: 48px;
                     }
                 }

/* .bloc team skills */

.hidden-text {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.skills-icon {
display: none;
}
.team-skills {
padding: 96px 0;
}

.skills-list {
    display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        gap: 72px;
}

.title-skills {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
    
        text-align: center;
}

.skills-text {
    color: #434455;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .skills-list {
        max-width: 768px;
        gap: 72px 24px;
    }

    .skills-item {
        width: 356px;
    }

    .title-skills {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .team-skills {
        padding: 120px 0;
    }

    .skills-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background-color: #f4f4fd;
        margin-bottom: 8px;
    }

    .skills-list {
        max-width: 1158px;
        gap: 24px;
    }

    .skills-item {
        width: 264px;
    }

    .title-skills {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;

        text-align: left;
    }

    .skills-text {
        font-weight: 400;
    }
}

/*  end bloc team skills */


/* Bloc Team */

.container-team {
    padding: 0 28px;
}

.title-team {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        gap: 72px;
}

.card {
    padding: 32px 0;
}

.team-item {
    background-color: #ffffff;
    
        border-radius: 0px 0px 4px 4px;
        box-shadow:
            0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bloc-team {
    background-color: #f4f4fd;
        padding: 120px 0;
}

.team-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    
        text-align: center;
        margin-bottom: 8px;
}

.team-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    
        text-align: center;
        margin-bottom: 8px;
}

.icons-list {
    display: flex;
        justify-content: center;
        gap: 24px;
}

.icons-lin {
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-lin:hover,
.icons-lin:focus {
    background-color: #404bbf;
}

.icons-item {
    width: 40px;
        height: 40px;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-i-svg {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .team-list {
        max-width: 768px;
        gap: 64px 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
        max-width: 1158px;
    }
}
/* Closed bloc Team */

/* Bloc Portfolio  */

.bloc-portfolio {
    padding: 96px 0;
}

.title-portfolio {
    font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
    
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
        flex-wrap: wrap;
        max-width: 320px;
        gap: 48px;
}

.portfolio-item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.card-app {
    padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}

.portfolio-t {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
    
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.overlay {
    position: relative;
        overflow: hidden;
}

.overlay-text {
    padding: 40px 32px;
        background-color: #4d5ae5;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        max-width: 768px;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: 356px;
    }
}

@media screen and (min-width: 1158px) {
    .bloc-portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        max-width: 1158px;
        gap: 48px 24px;
    }

    .portfolio-item:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    .portfolio-item {
        width: 360px;
        box-shadow: none;

        flex-basis: calc((100% - 48px) / 3);
    }

    .portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

/* Footer */

.footer {
    background-color: #2e2f42;
        padding: 96px 0;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
        margin-left: 86px;
}

.stud-logo {

    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        text-decoration: none;
}

.text-footer {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}

.footer-container {
    display: flex;
        flex-wrap: wrap;
        gap: 72px;
}

.footer-soc,
.subscribe {
margin: 0 auto;
    text-align: center;
}

.bloc {
    width: 320px;
}

.sub-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;

}

.icon-list-footer {
    display: flex;
        gap: 16px;
}

.icon-it-footer {
    width: 40px;
        height: 40px
}

.icon-lin-footer {

    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-lin-footer:hover,
.icon-lin-footer:focus {
    background-color: #31d0aa;
}

.soc-icon-footer {
    fill: #f4f4fd;
}

.sub-form {
    display: flex;
        flex-wrap: wrap;
        gap: 24px;
}

.sub-input {

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    
        border: 1px solid #ffffff;
        width: 288px;
        height: 40px;
        background-color: transparent;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        padding-left: 16px;
        border-radius: 4px;
        color: #ffffff;
}

::placeholder {
    color: #ffffff;
}
.btn-sub {
    min-width: 165px;
        height: 40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
    
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
    
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        margin-left: 61px;
}

.btn-sub:hover,
.btn-sub:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.send {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer {
        margin: 0 auto;
    }

    .footer-container {
        max-width: 528px;
        gap: 72px 24px;
        margin: 0 auto;
    }

    .bloc {
        width: 264px;
    }

    .footer-soc,
    .subscribe {
        margin: 0;
        text-align: left;
    }

    .stud-logo,
    .subscribe,
    .btn-sub {
        margin-left: 0;
        text-align: left;
    }

    .sub-input {
        width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        max-width: 1158px;
        flex-wrap: nowrap;
        align-items: baseline;
        margin: 0 auto;
        gap: 0;
    }

    .bloc {
        margin-right: 120px;
    }

    .footer-soc {
        margin-right: 80px;
    }

    .sub-form {
        flex-wrap: nowrap;
    }
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;

    padding: 72px 16px 24px 16px;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    border-radius: 4px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-closed {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    padding: 0;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-closed:hover,
.btn-closed:focus {
    border: none;
    background-color: #404bbf;
}

.mod-btn-clos {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-closed:hover svg,
.btn-closed:focus svg {
    fill: #fff;
}

.f-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;

    margin-bottom: 16px;
}

.form-box {
    margin-bottom: 8px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.imput-box {
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.mod-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus+svg {
    fill: #4d5ae5;
}

.com-box {
    margin-bottom: 16px;
}

.comment-input {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;

    background-color: transparent;

    padding: 8px 16px;
    outline: transparent;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input:focus {
    border-color: #4D5AE5;
}

.pp-box {
    margin-bottom: 24px;
}

.p-policy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    display: flex;
    align-items: center;
}

.check-box {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;

    flex-shrink: 0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked+label>.check-box {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-p {
    color: #4d5ae5;
}

.btn-m {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    margin: 0 auto;
    padding: 16px 32px;

    border-radius: 4px;

    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-m:hover,
.btn-m:focus {
    background-color: #404BBF;
    cursor: pointer;
}